<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Clara Owen's Portfolio{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merienda+One" />
  </head>
  <body style="background-color:#f7d2ea;">
    <style>
      /* Use the imported font family in your CSS */
      h1 {
          font-family: 'Merienda One', sans-serif;
      }
  </style>
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand outlined-text" style="--c:#241965;"  href="">Home</a></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul id="typingText" class="navbar-nav ml-auto center typing-demo">
          <li class="nav-item">
            <a class="nav-link outlined-text" style="--c:#241965;" href="/education">Education</a>
          </li> 
          <li class="nav-item"> 
            <a class="nav-link outlined-text" style="--c:#241965;"  href="/experience">Experience</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link outlined-text" style="--c:#241965;" href="/projects">Projects</a>
          </li> 
        </ul>
      </div>
    </nav>
    {% block content %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-sA6Szx66S4q/aBlAS6Vj1SM5Mxg2Ex92mI6NkeKnQj4BZ1s/8dLd3CTtXj2HV+vi" crossorigin="anonymous"></script>    
</html>