{% extends "base.html" %}
{% block title %}My website{% endblock %}
{% block content %}
<body>
    <div class="container bkg fade-slide-in" style="margin-top:100px;background-color:#e3d2ff;">
        <div class="ed-header" style="margin-top:15px;color:#241965;">BS. Computer Science and Game Design
            <div style="font-size:24px;">High Point University</div>
        </div>
        <div class="box">
          <div class="imgBx">
            <img src="../static/images/HPU1.jpg">
          </div>
          <div class="content">
            <div>
              <h2>Statistics</h2>
              <p>GPA: 4.0</p>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="imgBx">
            <img src="../static/images/HPU2.jpg">
          </div>
          <div class="content">
            <div>
              <h2>Relevant Courses</h2>
              <ul>
                <li>Intro to Program</li>
                <li>Intro to AAA Tools</li>
                <li>Adv. Program and Data Structures</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="imgBx">
            <img src="../static/images/HPU3.jpg">
          </div>
          <div class="content">
            <div>
              <h2>Involvement</h2>
              <ul>
                <li>Computer Science Society</li>
                <li>HPUminds</li>
                <li>Game Dev Club</li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    <div class="container bkg fade-slide-in" style="margin-top:100px;margin-bottom:50px;">
        <div class="ed-header" style="margin-top:15px;color:#e3d2ff;">High School Diploma
            <div style="font-size:24px;">Saint Charles East High School</div>
        </div>
        <div class="box">
          <div class="imgBx">
            <img src="../static/images/STCE1">
          </div>
          <div class="content">
            <div>
              <h2>Statistics</h2>
              <p>GPA Weighted: 4.73<br>GPA Unweighted: 3.95<br>Summa Cum Laude</p>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="imgBx">
            <img src="../static/images/STCE2.jpg">
          </div>
          <div class="content">
            <div>
              <h2>Relevant Courses</h2>
              <ul>
                <li>AP Computer Science</li>
                <li>Calculus 1, 2, 3</li>
                <li>Engineering Physics 1, 2</li>
                <li>Engineering Design and Development</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="box">
          <div class="imgBx">
            <img src="../static/images/STCE3.jpg">
          </div>
          <div class="content">
            <div>
              <h2>Involvement</h2>
              <ul>
                <li>Mu Alpha Theta</li>
                <li>Synergy Engineering Program</li>
                <li>Spanish National Honors Society</li>
              </ul>
            </div>
          </div>
        </div>
    </div><br>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const typingElements = document.querySelectorAll(".typing-demo");
          function checkFadeSlideIn() {
            typingElements.forEach(function(element) {
              const position = element.getBoundingClientRect().top;
              const windowHeight = window.innerHeight;
    
              if (position < windowHeight * 0.75) {
                element.classList.add("typing-demo-show");
              }
            });
          }
    
          // Initial check on page load
          checkFadeSlideIn();
    
          // Add scroll event listener
          document.addEventListener("scroll", checkFadeSlideIn);
        });
    </script>
    <script>
            document.addEventListener("DOMContentLoaded", function() {
              const fadeSlideInElements = document.querySelectorAll(".fade-slide-in");
              function checkFadeSlideIn() {
                fadeSlideInElements.forEach(function(element) {
                  const position = element.getBoundingClientRect().top;
                  const windowHeight = window.innerHeight;
        
                  if (position < windowHeight * 0.75) {
                    element.classList.add("fade-slide-in-show");
                  }
                });
              }
        
              // Initial check on page load
              checkFadeSlideIn();
        
              // Add scroll event listener
              document.addEventListener("scroll", checkFadeSlideIn);
            });
    </script>
</body>
{% endblock %}