{% extends "base.html" %}
{% block title %}My website{% endblock %}
{% block content %}
<body style="background-color:#241965;">
    <div class="ex fade-slide-in">
        <div class="ex-grid">
            <div class="div1 big typing-demo ex-grid-1 outlined-text" style="width: 19ch;--c:#B73D6E;">Help Desk Technician</div>
            <div class="div2 fade-slide-in ex-grid-2 outlined-text" style="--c:#B73D6E;"><u>High Point University</u><br>Sep. 2023-Present</div>
        </div>
        <ul class="ex-list fade-slide-in">
            <li>Conduct daily system monitoring, verifying security, integrity and
                availability of hardware, server resources, applications and key processes</li>
            <li>Manage infrastructure upgrades, analysis and resolution of end user hardware 
                and software issues</li>
            <li>Assist customers in identifying issues and explained solutions 
                to restore service and functionality</li>
            <li>Translate complex technical issues into digestible language for non-technical users</li>
        </ul>
    </div>
    <div class="half-half">
        <h2 class="div1 big fade-slide-in bkg outlined-text" style="margin:20px;font-size:24px;padding:20px;"><u>Challenges:</u>
            <div class="fade-slide-in"> I had such a 
            variety of problems to solve that there was often no one correct or obvious answer. I was 
            also put in a position where I had to take a lot of initiative, as I was trusted quickly 
            to work without supervision. I started the job without confidence that I could perform 
            correctly, and I was afraid to answer the phone. </div>
        </h2>
        <h2 class="div2 big fade-slide-in bkg outlined-text" style="margin:20px;font-size:24px;padding:20px;"><u>What I Learned:</u>
            <div class="fade-slide-in">
            As I have gained more experience, I am able to critically decide the next steps even if the 
            issue is new to me, since I have usually gone through similar situations before.
            I built confidence in my abilities to perform at the job, and I refuse to let criticism 
            cause me to hesitate. I can now confidently answer the phone and assist users. </div> 
        </h2>
    </div>
    <div class="ex fade-slide-in" style="margin-top:0px;">
        <div class="ex-grid-1 outlined-text" style="--c:#B73D6E;padding:20px;color:#e3d2ff;"><u>Relevant Skills:</u></div>
        <div class="third-grid">
            <ul class="div1 fade-slide-in">
                <li>Documentation</li>
                <li>Software Configuration</li>
                <li>Troubleshooting</li>
            </ul>
            <ul class="div2 fade-slide-in">
                <li>Security</li>
                <li>Adaptability</li>
                <li>Attention to Detail</li>
            </ul>
            <ul class="div3 fade-slide-in">
                <li>Collaboration</li>
                <li>Customer Service</li>
            </ul>
        </div>
    </div>
    <div class="ex fade-slide-in" style="color:#241965;background-color:#e3d2ff;">
        <div class="ex-grid">
            <div class="div1 big typing-demo ex-grid-1 outlined-text" style="width: 19ch;--c:#B73D6E;">Software Developer</div>
            <div class="div2 fade-slide-in ex-grid-2 outlined-text" style="--c:#B73D6E;"><u>Voyager Netz</u><br>Jul. 2022-Feb. 2023</div>
        </div>
        <ul class="ex-list fade-slide-in" style="color:#241965;">
            <li>Worked with design teams and Senior Software Engineers to build customized software products for consumers</li>
            <li>Created core game storylines, role-play mechanics and character biographies for new video games franchise</li>
            <li>Explored natural language processing technologies such as SpaCy with Unity and Visual Studio Code</li>
            <li>Created prototypes based upon design ideas using such programming languages as Python and C++</li>
        </ul>
    </div>
    <div class="half-half">
        <h2 class="div1 big fade-slide-in bkg outlined-text" style="margin:20px;font-size:24px;padding:20px;"><u>Challenges:</u>
            <div class="fade-slide-in">I had never participated in a formal software development
                process before, and was unused to working with experienced engineers. I also had
                difficulties with not becoming overwhelmed. I was also required to teach myself
                most of the technical knowledge. 
            </div>
        </h2>
        <h2 class="div2 big fade-slide-in bkg outlined-text" style="margin:20px;font-size:24px;padding:20px;"><u>What I Learned:</u>
            <div class="fade-slide-in">I found myself working the best when I set aside certain hours
                in the week to work on the project. I felt it useful to also have a goal to achieve at
                least one coding lesson a day, and I often would complete more than that in one sitting.
                I also ended up decreasing my hours in another extracurricular assignment to focus on
                this one. 
            </div> 
        </h2>
    </div>
    <div class="ex fade-slide-in" style="margin-top:0px;background-color:#e3d2ff">
        <div class="ex-grid-1 outlined-text" style="--c:#B73D6E;padding:20px;color:#241965;"><u>Relevant Skills:</u></div>
        <div class="third-grid">
            <ul class="div1 fade-slide-in" style="color:#241965;">
                <li>Python</li>
                <li>Game Mechanics</li>
                <li>Debugging Skills</li>
            </ul>
            <ul class="div2 fade-slide-in"style="color:#241965;">
                <li>Algorithms</li>
                <li>Creativity</li>
                <li>Communication</li>
            </ul>
        </div>
    </div>
    <div class="ex fade-slide-in"">
        <div class="ex-grid">
            <div class="div1 big typing-demo ex-grid-1 outlined-text" style="width: 19ch;--c:#B73D6E;">Social Media Manager</div>
            <div class="div2 fade-slide-in ex-grid-2 outlined-text" style="--c:#B73D6E;"><u>6B Partners</u><br>Mar. 2020-Jul. 2023</div>
        </div>
        <ul class="ex-list fade-slide-in">
            <li>Developed marketing content such as blogs and promotional posts for social medias such as Twitter and LinkedIn</li>
            <li>Monitored online presence and connections of 6B Partners’, Clear Choice, and Teqworks’ brand to engage with users</li>
            <li>Generated posts and curated feed content for online marketing campaigns</li>
        </ul>
    </div>
    <div class="half-half">
        <h2 class="div1 big fade-slide-in bkg outlined-text" style="margin:20px;font-size:24px;padding:20px;"><u>Challenges:</u>
            <div class="fade-slide-in">I never spent a lot of time on social media, especially Facebook and Twitter,
                so I found it difficult to strategize my posts. I was also not given a lot of content 
                to work with, so posting variety was limited. 
            </div>
        </h2>
        <h2 class="div2 big fade-slide-in bkg outlined-text" style="margin:20px;font-size:24px;padding:20px;"><u>What I Learned:</u>
            <div class="fade-slide-in">I got myself familiar with every social media platform, and found
                the tool on each one to schedule posts. I wrote blogs for the websites, creating more content
                that I could post that is relevant. I spent time looking at RSS feeds and other similar 
                accounts to curate the content. 
            </div> 
        </h2>
    </div>
    <div class="ex fade-slide-in" style="margin-top:0px;">
        <div class="ex-grid-1 outlined-text" style="--c:#B73D6E;padding:20px;color:#e3d2ff;"><u>Relevant Skills:</u></div>
        <div class="third-grid">
            <ul class="div1 fade-slide-in">
                <li>Content Strategy</li>
                <li>Community Building</li>
                <li>Visual Content Creation</li>
            </ul>
            <ul class="div2 fade-slide-in">
                <li>Data Analysis</li>
                <li>Security Awareness</li>
                <li>Strategic Planning</li>
            </ul>
            <ul class="div3 fade-slide-in">
                <li>Marketing <br>Automation</li>
                <li>HTML/CSS</li>
            </ul>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const typingElements = document.querySelectorAll(".typing-demo");
          function checkFadeSlideIn() {
            typingElements.forEach(function(element) {
              const position = element.getBoundingClientRect().top;
              const windowHeight = window.innerHeight;
    
              if (position < windowHeight * 0.75) {
                element.classList.add("typing-demo-show");
              }
            });
          }
    
          // Initial check on page load
          checkFadeSlideIn();
    
          // Add scroll event listener
          document.addEventListener("scroll", checkFadeSlideIn);
        });
    </script>
    <script>
            document.addEventListener("DOMContentLoaded", function() {
              const fadeSlideInElements = document.querySelectorAll(".fade-slide-in");
              function checkFadeSlideIn() {
                fadeSlideInElements.forEach(function(element) {
                  const position = element.getBoundingClientRect().top;
                  const windowHeight = window.innerHeight;
        
                  if (position < windowHeight * 0.75) {
                    element.classList.add("fade-slide-in-show");
                  }
                });
              }
        
              // Initial check on page load
              checkFadeSlideIn();
        
              // Add scroll event listener
              document.addEventListener("scroll", checkFadeSlideIn);
            });
    </script>
</body>
{% endblock %}