{% extends "base.html" %}
{% block title %}My website{% endblock %}
{% block content %}
<body>
    <style>
        #fill-img {
            max-width: 90%;
            height: auto; /* Maintain aspect ratio */
        }
    </style>
    <div class="parallax-container">
      <!--<img src="../static/images/first.png" alt="Description of the image" id="fill-img" class="outlined-img">-->
      <div class="parallax outlined-img" style="background-image: url('../static/images/first.png');"></div>
      <div class="fade-slide-in overlay-text outlined-text" style="--c:#f7d2ea;"><i>Hello, I'm</i></div>
      <div class="fade-slide-in overlay-text-2 outlined-text" style="--c:#f7d2ea; font-size:80px; font-family:Verdana;">Clara Owen</div>
      <script>
          document.addEventListener("DOMContentLoaded", function() {
            const fadeSlideInElements = document.querySelectorAll(".fade-slide-in");
      
            function checkFadeSlideIn() {
              fadeSlideInElements.forEach(function(element) {
                const position = element.getBoundingClientRect().top;
                const windowHeight = window.innerHeight;
      
                if (position < windowHeight * 0.75) {
                  element.classList.add("fade-slide-in-show");
                }
              });
            }
      
            // Initial check on page load
            checkFadeSlideIn();
      
            // Add scroll event listener
            document.addEventListener("scroll", checkFadeSlideIn);
          });
      </script>
    </div>
    <h2 class="big fade-slide-in bkg outlined-text">I am a software developer and game designer studying at High Point University. I love creative
        approaches to problem-solving and enhancing client experiences. Outside of coding, I am 
        passionate about video games, world cultures, and hanging out with my friends. 
        If I am not in the computer lab, I'm playing Minecraft or Terraria.</h2>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const fadeSlideInElements = document.querySelectorAll(".fade-slide-in");
          function checkFadeSlideIn() {
            fadeSlideInElements.forEach(function(element) {
              const position = element.getBoundingClientRect().top;
              const windowHeight = window.innerHeight;
    
              if (position < windowHeight * 0.75) {
                element.classList.add("fade-slide-in-show");
              }
            });
          }
    
          // Initial check on page load
          checkFadeSlideIn();
    
          // Add scroll event listener
          document.addEventListener("scroll", checkFadeSlideIn);
        });
    </script>
    <p>insert stuff that I need for jobs here</p>
    <h1 class="header centered-content" style="padding:50px;">--- My Journey ---</h1>
    <div class="parallax-container">
      <div class="parallax outlined-img"></div>
      <img src="../static/images/minecraftskin.png" alt="Description of the image" width="200px" class="overlay-text-parallax-left">
      <h2 class="big overlay-text-parallax-right overlay-container" style="padding:50px 20px;">
        My introduction to coding began in Minecraft. I spent my time modifying texture and
        resource packs, programming command blocks, and utilizing mods to transform my worlds. The 
        concept of programming and object-oriented languages went easily with my love of video games.</h2>
      <div class="overlay-caption-parallax typing-demo outlined-text" style="width: 32ch;--c:#590C68;">/title @a title The Beginnings</div></div>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          const typingElements = document.querySelectorAll(".typing-demo");
          function checkFadeSlideIn() {
            typingElements.forEach(function(element) {
              const position = element.getBoundingClientRect().top;
              const windowHeight = window.innerHeight;
    
              if (position < windowHeight * 0.75) {
                element.classList.add("typing-demo-show");
              }
            });
          }
    
          // Initial check on page load
          checkFadeSlideIn();
    
          // Add scroll event listener
          document.addEventListener("scroll", checkFadeSlideIn);
        });
    </script>
      <h2 class="big fade-slide-in bkg outlined-text">
      During my high school years, I embarked on a formal exploration of computer science, 
      undertaking advanced coursework such as AP Computer Science and various pertinent 
      engineering classes. My research into potential career paths revealed a 
      profound passion for software development, which was applied to my 
      senior-year internship, where I gained valuable insights into the intricacies 
      of the game development cycle and honed my skills in Python.</h2>
      <div class="parallax-container">
        <div class="parallax outlined-img" style="background-image: url('../static/images/graduation.jpg');margin-top:80px;"></div>
        <h2 class="big overlay-parallax-center overlay-container" style="padding:50px 20px;color:white;">
          I graduated summa cum laude. Once a Saint, always a Saint. </h2>
        <div class="overlay-caption-parallax typing-demo outlined-text" style="width: 32ch;--c:#590C68;top: 12%;">@Saint Charles East High School</div></div>
        <h1 class="fade-slide-in header centered-content" style="padding:50px;">
          After an extensive search, I enrolled at High Point University, as well as 
          securing my first position in the field of Information Technology.</h1>
      <div class="parallax-container" style="height:100vh;">
        <div class="parallax outlined-img" style="background-image: url('../static/images/welcomehome.jpeg');margin-top:45px;"></div>
        <div class="overlay-caption-parallax typing-demo outlined-text" style="width: 32ch;--c:#590C68;top: 15%;">@Premier Life Skills University</div></div>
      </div>
      <h2 class="big fade-slide-in bkg outlined-text" style="margin-top:100px;">
        I am currently pursuing dual majors in Computer Science and Game Design at High Point 
        University, and my academic journey thus far has been exceptionally rewarding. As 
        I look ahead, my aspiration is to integrate 
        critical thinking and artistic elements into my professional endeavors post-graduation. 
        Additionally, I look to further my expertise through advanced studies, 
        contemplating a graduate degree in fields related to artificial intelligence or game design.</h2>
      <div class="parallax-container" style="height:75vh;margin:45px;">
        <div class="parallax outlined-img" style="background-image: url('../static/images/credits.jpg');"></div>
        <h2 class="big overlay-parallax-center overlay-container" style="padding:50px 20px;color:white;">
          Thank you for reading my story. Check out my projects and experience at the top!</h2>
      </div>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            const typingElements = document.querySelectorAll(".typing-demo");
            function checkFadeSlideIn() {
              typingElements.forEach(function(element) {
                const position = element.getBoundingClientRect().top;
                const windowHeight = window.innerHeight;
      
                if (position < windowHeight * 0.75) {
                  element.classList.add("typing-demo-show");
                }
              });
            }
      
            // Initial check on page load
            checkFadeSlideIn();
      
            // Add scroll event listener
            document.addEventListener("scroll", checkFadeSlideIn);
          });
      </script>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            const fadeSlideInElements = document.querySelectorAll(".fade-slide-in");
            function checkFadeSlideIn() {
              fadeSlideInElements.forEach(function(element) {
                const position = element.getBoundingClientRect().top;
                const windowHeight = window.innerHeight;
      
                if (position < windowHeight * 0.75) {
                  element.classList.add("fade-slide-in-show");
                }
              });
            }
      
            // Initial check on page load
            checkFadeSlideIn();
      
            // Add scroll event listener
            document.addEventListener("scroll", checkFadeSlideIn);
          });
      </script>
</body>
{% endblock %}