{% extends "base.html" %}
{% block title %}My website{% endblock %}
{% block content %}
<body>
    <div class="main">
        <ul class="cards">
        <li class="cards_item">
            <div class="card">
            <div class="card_image">
                <img src="../static/images/website.png" alt="Home page of my website" height="400px" width="auto"/>
                <span class="card_price">2023</span>
            </div>
            <div class="card_content">
                <h2 class="card_title">This Website</h2>
                <div class="card_text">
                <p>I have made websites before in Wordpress and Wix, but I decided to create my
                    own from scratch. I love the freedom and power of creating my own site. I used <b>VSCode</b>
                    to develop the code, and <b>Cpanel</b> to host it. 
                </p>
                <hr />
                <p>I have styled the website with a retro theme, and I hope that my love for creativity
                    shows. 
                </p>
                <hr />
                <div class="card-skills">Skills: </div><br>
                <div class="half-half" style="margin:0px;text-align:left;gap:0px;">
                    <ul class="div1 card-skills-ls">
                        <li>HTML</li>
                        <li>CSS/SCSS</li>
                        <li>Bootstrap and Flask</li>
                    </ul>
                    <ul class="div2 card-skills-ls" style="text-align:left">
                        <li>JavaScript</li>
                        <li>Graphic Design</li>
                        <li>Website Hosting</li>
                    </ul>
                </div><br>
                <p><a href="https://github.com/ojandcereal/ResumeWebsite">To view the code, visit my Github</a></p>
                </div>
            </div>
            </div>
        </li>
    
        <li class="cards_item">
            <div class="card">
            <div class="card_image">
                <div class="carousel-wrapper">
                    <div class="carousel-container">
                      <div class="carousel">
                        <div class="image-one" style="background-image:url(../static/images/HOS1.png)"></div>
                        <div class="image-two" style="background-image:url(../static/images/HOS2.png)"></div>
                        <div class="image-three" style="background-image:url(../static/images/HOS3.png)"></div>
                        <div class="image-four" style="background-image:url(../static/images/HOS4.png)"></div>
                        <div class="image-five" style="background-image:url(../static/images/HOS5.png)"></div>
                        <div class="image-six" style="background-image:url(../static/images/HOS6.png)"></div>
                      </div>
                    </div>
                  </div>
                <span class="card_price">2023</span>
            </div>
            <div class="card_content">
                <h2 class="card_title">Hide and Seek Game</h2>
                <div class="card_text">
                <p>Developed in the new <b>Unreal Engine 5</b>, this is a multiplayer game that utilizes high-definition
                    graphics and sound design to immerse the player. A player can choose to be a hider or seeker,
                    with different capabilities to each game mode. 
                </p>
                <p>Try to find all of the hiding places that we have hidden! 
                </p>
                <hr />
                <div class="card-skills">Skills: </div><br>
                <div class="half-half" style="margin:0px;text-align:left;gap:0px;">
                    <ul class="div1 card-skills-ls">
                        <li>Unreal Engine 5.3</li>
                        <li>Blueprints</li>
                        <li>Level Design</li>
                    </ul>
                    <ul class="div2 card-skills-ls" style="text-align:left">
                        <li>Collaboration</li>
                        <li>Time Crunching</li>
                    </ul>
                </div><br><p>
                  <a href="https://github.com/ojandcereal/ResumeWebsite">To download the game, visit my itch.io</a>
                </p>
                </div>
            </div>
            </div>
        </li>
    
        <li class="cards_item">
            <div class="card">
            <div class="card_image">
                <img src="../static/images/medbox.png" alt="A side view of a plate of figs and berries." />
                <span class="card_price">2022</span>
            </div>
            <div class="card_content">
                <h2 class="card_title">Medical Assistance Box</h2>
                <div class="card_text">
                <p>This was a project that involved a large amount of market research and engineering
                    processes. Our objective was to assist some of the 20 million Americans that live 
                    with a chronic illness.
                </p>
                <hr />
                <p>We used <b>Arduino</b> to wire several chips, keypads, a breadboard, a buzzer,
                    an LCD screen and buttons. </p><hr />
                <p>The capabilities of this box include: 
                </p><ul class="div1 card-skills-ls" style="text-align:left;font-size:12px;">
                    <li>Entering the name of a user</li>
                    <li>Entering the name of a medication</li>
                    <li>Three separate times for reminders</li>
                    <li>Three different types of reminders</li>
                    <li>Reminder if medication has <br>already been taken</li>
                </ul><br>
                <div class="card-skills">Skills: </div><br>
                <div class="half-half" style="margin:0px;text-align:left;gap:0px;">
                    <ul class="div1 card-skills-ls">
                        <li>Arduino</li>
                        <li>C++</li>
                        <li>Engineering</li>
                    </ul>
                    <ul class="div2 card-skills-ls" style="text-align:left">
                        <li>Electrical Circuits</li>
                        <li>Market Research</li>
                    </ul>
                </div><br><p>
                  <a href="https://github.com/ojandcereal/ResumeWebsite">View a demonstration here</a>
                </p>
                </div>
                </div>
            </div>
            </div>
        </li>
        </ul>
    </div>
</body>
<script>
    document.addEventListener("DOMContentLoaded", function() {
      const typingElements = document.querySelectorAll(".typing-demo");
      function checkFadeSlideIn() {
        typingElements.forEach(function(element) {
          const position = element.getBoundingClientRect().top;
          const windowHeight = window.innerHeight;

          if (position < windowHeight * 0.75) {
            element.classList.add("typing-demo-show");
          }
        });
      }

      // Initial check on page load
      checkFadeSlideIn();

      // Add scroll event listener
      document.addEventListener("scroll", checkFadeSlideIn);
    });
</script>
<script>
        document.addEventListener("DOMContentLoaded", function() {
          const fadeSlideInElements = document.querySelectorAll(".fade-slide-in");
          function checkFadeSlideIn() {
            fadeSlideInElements.forEach(function(element) {
              const position = element.getBoundingClientRect().top;
              const windowHeight = window.innerHeight;
    
              if (position < windowHeight * 0.75) {
                element.classList.add("fade-slide-in-show");
              }
            });
          }
    
          // Initial check on page load
          checkFadeSlideIn();
    
          // Add scroll event listener
          document.addEventListener("scroll", checkFadeSlideIn);
        });
</script>
  {% endblock %}